.fontcolor{
    color: #064b7f;
}
.infoStyle{
    color: #064b7f;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 0;
    /* color: #064b7f; */
}
.infoStyle::before{
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    left: 40px;
    bottom: 0;
    background-color: #f0f0f0;
}
.infoStyle::after{
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 2px;
    left: 40px;
    bottom: 0;
    background-color: #064b7f;
}
.aaa{
    background-color: #8ba4ca83;
    color: #064b7f;
}
.accordion-button:not(.collapsed){
    background-color: #8ba4ca83 !important;
    color: #064b7f;
}
.infoItem{
    display: flex;
    background-color: rgba(255, 255, 255, 0.421);
}
.payment li{
    list-style-type: none;
    background-size: 100px 63px;
}
.cash{
    width: 100px;
    height: 63px;
    background-image: url(../icon/cash.png);
    
}
.visa{
    width: 100px;
    height: 63px;
    background: url(../icon/visa.png);
}